# @fileoverview Environment template for MU Sports frontend.
# @copyright (c) Mulungushi University Sports Platform. All rights reserved.
# Owners: Kafiswe Chimputu and Elijah Manda, Full Stack Developers.

NEXT_PUBLIC_API_URL="https://mu-sport-backend.vercel.app"
NEXT_PUBLIC_SITE_URL="https://mu-sports-frontend.vercel.app"